@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  color: white;
  font-family: "Open Sans", "Calibri", sans-serif;
}

body {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAy0lEQVQ4T4WTOw7CMBBEfRqoEFQkogHRIJQyos4FuH8Lmkizet7YUIz8We/z2mOX57R8pNt9Dnlufr1XeUw5VnLyeHlUasU8DoAD5+EaImS3P6xizJCogMlZStZuGa7cYpoCx9MQi9xX6/IJrY5AgBaqtQjkOCrwHZiqcglowboAQ1qJbrPdhefr7UypQtpa6MCvRN6NK9kAaNu/e4gj8IHQnl4yK4g76B2hZ2EF4FP2s23tmC0MG1Vu/iiC5P/BTTYAfln26bfBnJO+x3u6Vo15G8sAAAAASUVORK5CYII=);
  background-size: 32px;
  image-rendering: pixelated;
}

header {
  margin: 0.5em;
  text-align: center;
  font-weight: 900;
  font-size: 5em;
}

.content {
  background-color: rgba(0, 0, 0, 0.33);
  margin: 2em 20em;
  padding: 1em;
  font-size: 1.25em;
  border-radius: 2em;
}

li {
  line-height: 2em;
}

.add {
  list-style: circle inside url(add.png);
}

.edit {
  list-style: circle inside url(edit.png);
}

.none {
  list-style: circle inside url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOvwAADr8BOAVTJAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMS42/U4J6AAAAA1JREFUGFdj+P//PwMACPwC/ohfBuAAAAAASUVORK5CYII=);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

code {
  background-color: #eee;
  color: #000;
  font-family: monospace;
  border-radius: 6px;
  border: 1px solid #333;
  padding: 2px 6px 2px 6px;
  font-size: 1.25em;
}

video, img {
  border-radius: 0.25em;
}
